main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 4%;
  background-color: #005EA1;

  
 
}


body{
  background-color: #020149;
  height: 100vh;
  overflow-y: hidden;
  color: white;
}


.conteiner{
  height: 70%;
}

.title{
  margin-top: 2%;
}


.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  height: 100%;
  padding-top: 2%;
}
form{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  height: 60%;
}


input {
  margin-top: 4%;
  width: 307px;
  height: 53px;
  padding-left: 2%;

}

button#consultar {
  width: 146px;
  height: 40px;
  background-color: #020149;
  color: white;
  border: none;
  margin: 2% auto;

  /*     background: #0379CE; */
}

button#voltar {
  width: 146px;
  height: 40px;
  background: #0379CE;
  border: none;
  margin: 0 auto;

  color: #ffff;
}
button:hover {
  cursor: pointer;
}

button a {
  color: white;
  width: 100%;
  height: 100%;
}
/* 
footer{

  width: 100%;
  height: 10%;
  text-align: center;
  background-color: #020149;
  margin-top: 5.5%;
  padding-top: 2%;

} */


@media screen and (max-width:500px){


  
  main{



   
  }
  .title{
    height:35%;
    margin-top: 6%;
    
  }

  h1{
    font-size: 15pt;
  }



}